<section class="time">
    <div>
        <h1>
            Track the time your employees spend on work and get detailed information
        </h1>

        <ul>
            <li class="detail">4 Screenshot Modes</li>
            <li class="detail">Idle Time Tracking</li>
            <li class="detail">Synchronized Tracking</li>
            <li class="detail">Billable Hours</li>
        </ul>
        <button class="button">RESERVE YOUR SEAT</button>
    </div>
    <div>
        <img src="assets/imges/time/time.png">
    </div>
</section>
