<header>
    <div class="container">
        <div class="block">
            <div class="header__logo">
                <img src="assets/imges/header/logo.png">
            </div>
            <div class="header__button">
                <button>Get Now</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__sale">
            <div class="info">
                <div class="sale">
                    <p class="cyber"> CYBER MONDAT
                        <span>means<br> an even</span>
                        BIGGER SALE
                    </p>
                </div>

                <div class="text">
                    Cyber Monday saves you money,
                    WebWork saves you time.
                </div>
                <button class="save">SAVE BIG NOW</button>
                <div>
                    <div class="imgs">
                        <div>
                            <img src="assets/imges/header/circle.png">
                            <img class="vector" src="assets/imges/header/Vector.png">
                        </div>
                        <div>
                            <span>14-day free trial</span><span>No credit card required</span>
                        </div>
                    </div>
                </div>
                <div class="rating">
                    <img src="assets/imges/header/rating.png">
                    <p>Reviews from 51K+ happy users below and beyond</p>
                </div>
                <div class="brands">
                    <img src="assets/imges/header/capterra.png" alt="capterra">
                    <img src="assets/imges/header/crowd.png" alt="crowd">
                    <img src="assets/imges/header/getapp.png" alt="getapp">
                </div>
            </div>

            <div class="header__img">
                <img class="img-sale" src="assets/imges/header/sale.png">
            </div>
        </div>
    </div>
</header>